@import '_variables';
@import '_mixins';

label.fancy-input {
  display: inline-block;
  cursor: pointer;
  // to align the checkbox and text
  line-height: 1.3em;

  input {
    // HTML5 Boilerplate accessible hidden styles
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // use a sibling element for styling
    & + * {
      display: block;

      // the basic, unchecked style
      &:before {
        // use non-breaking space
        // so that the height of empty is the same as tick
        content: '\00A0';
        display: inline-block;
        width: 1em;
        height: 1em;
        // so that the tick does not stick to the left
        padding: 0.1em;
        margin-right: 0.5em;
        border: 0.125em solid transparent;
        color: $blank;
        transition: 0.5s ease background;
      }
    }

    &:checked + *:before {
      border-color: $blank;
    }

    // radio (generic)
    &[type='radio'] + *:before {
      border-radius: 1em;
    }

    // checkbox (checked)
    &[type='checkbox']:checked + *:before {
      content: '\2713';
    }
  }
}

@include generate-themes($themes);